
@{
    ViewBag.Title = "Principal";
}

<div class="container" align="center">
    <img class="irc_mi" src="https://www.moblee.com.br/blog/wp-content/uploads/sites/2/2017/08/gif-de-planejamento-de-eventos.gif"
         alt="Imagen relacionada" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)"
         height="375" style="margin-top: 10px;">
</div>
<div class="container" align="center">
    <h2>Gestión Recursos Humano</h2>
    <em>Adelyn Morillo - 2017 4441</em>
    <br />
    <em>Joel E. Paredes Abreu - 2010 2928</em>

</div>
